<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JPushExtentions.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>Touqiu.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1FE5BDAC2281788E00C9137C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE5BDC02281789100C9137C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE5BDCB2281789100C9137C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FF025DB22DEC525005E2ED2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
